#add_point {
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
#add_point input {
  height: 48px;
  border-width: 0px;
  padding-left: 10px;
  border-style: none;
  outline: none;
}
